<div class="row">
    <div class="white-box">
      <h3 class="box-title">Contact / Employee List </h3>
      <div class="clearfix"></div>
      <div class="dt-responsive">
        <div class="row full-data-header">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="8">8</option>
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <div class="table-responsive">
          <table class="table table-hover table-striped full-data-table"
               [mfData]="data | dataFilter : filterQuery"
               #mf="mfDataTable"
               [mfRowsOnPage]="rowsOnPage"
               [(mfSortBy)]="sortBy"
               [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>
            <th>
              <mfDefaultSorter by="id">No</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="photo">Profile</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="name">Customer</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="email">Email</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="phone">Phone</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="role">Role</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="age">Age</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="start-date">Joining date</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="salary">Salary</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter>Action</mfDefaultSorter>
            </th>
          </tr>
          <tr>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{ item.id }}</td>
            <td><img src="{{item.photo}}" alt="{{item.name}}" class="img-circle" width="50px"></td>
            <td>
              <a [routerLink]="['/inbox/contact-detail']">{{item.name}}</a>
            </td>
            <td>{{item.email}}</td>
            <td>{{item.phone}}</td>
            <td>
              <span class="label label-success font-weight-100" *ngIf="item.role === 'Accountant'">{{item.role}}</span>
              <span class="label label-warning font-weight-100" *ngIf="item.role === 'Chairman'">{{item.role}}</span>
              <span class="label label-info font-weight-100" *ngIf="item.role === 'Developer'">{{item.role}}</span>
              <span class="label label-danger font-weight-100" *ngIf="item.role === 'Manager' || item.role === 'Designer'">{{item.role}}</span>
            </td>
            <td>{{item.age}}</td>
            <td>{{item.date}}</td>
            <td>${{item.salary}}</td>
            <td>
            <td>
            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>No</th>
            <th>Profile</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
            <th>Age</th>
            <th>Joining date</th>
            <th>Salary</th>
            <th>Action</th>
          </tr>
          <tr>
            <td colspan="5">
              <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Contact</button>
              <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                      <h4 class="modal-title" id="myModalLabel">Add Lable</h4> </div>
                    <div class="modal-body">
                      <form class="form-horizontal form-material">
                        <div class="form-group">
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Type name"> </div>
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Email"> </div>
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Phone"> </div>
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Designation"> </div>
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Age"> </div>
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Date of joining"> </div>
                          <div class="col-md-12 m-b-20">
                            <input type="text" class="form-control" placeholder="Salary"> </div>
                          <div class="col-md-12 m-b-20">
                            <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload Contact Image</span>
                              <input type="file" class="upload"> </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                      <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                  <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
              </div>
            </td>
            <td colspan="5">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
        </div>
      </div>
    </div>
</div>
