<!-- /.row -->
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-danger">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair2.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-success">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair4.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-info">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair3.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-danger">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair2.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-success">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair3.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-danger">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-danger">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair4.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-info">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-danger">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair2.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-success">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair4.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-info">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="white-box">
      <div class="product-img">
        <img src="assets/images/chair3.jpg" class="img-responsive" />
      </div>
      <div class="product-text">
        <h3 class="box-title m-b-0">Rounded Chair</h3>
        <small class="text-muted db">globe type chair for rest</small>
        <span class="pro-dis bg-danger">28% <br> off</span>
        <h3 class="pro-price m-b-0">&#36;72
          <span class="old-price">&#36;100</span>
        </h3>
      </div>
    </div>
  </div>
</div>
<!--row -->
