<div class="cd-horizontal-timeline loaded" ><!--[ngClass]="{'loaded': loaded}"-->
  <div class="timeline">
    <div class="events-wrapper" #timelineWrapper>
      <div class="events" #eventsWrapper>
        <ol>
          <li *ngFor="let item of timelineElements; let index = index">
            <a #timelineEvents href="javascript:"
               [attr.data-date]="item.caption"
               [ngClass]="{'selected': item.selected, 'older-event': index < selectedIndex}"
               (click)="onEventClick($event, item)">{{item.caption}}</a>
            <span></span>
          </li>
        </ol>
        <span class="filling-line" aria-hidden="true" #fillingLine></span>
      </div>
    </div>

    <ul class="cd-timeline-navigation">
      <li>
        <a href="javascript:" (click)="onPrevClick($event)" class="prev" [ngClass]="{'inactive':prevLinkInactive}">Prev</a>
      </li>
      <li>
        <a href="javascript:" (click)="onNextClick($event)" class="next" [ngClass]="{'inactive':nextLinkInactive}">Next</a>
      </li>
    </ul>
  </div>
  <div class="events-content" #eventsContent *ngIf="showContent">
    <ol>
      <li *ngFor="let item of timelineElements; let index = index" [attr.data-date]="item.date | date:dateFormat"
          [attr.data-state]="item.selected ? 'active' : (index < selectedIndex ? 'left' : 'right')"
          [@contentState]="item.selected ? 'active' : (index < selectedIndex ? 'left' : 'right')">
        <h2><img class="img-responsive img-circle pull-left m-r-20 m-b-10" width="60" alt="user" src="assets/images/users/1.jpg">{{item.title}}<br/><small>{{item.date | date:dateFormat}}</small></h2>
        <hr class="m-t-40">
        <p class="m-t-40">
          {{item.content}}
          <button class="btn btn-info btn-rounded btn-outline">Read more</button>
        </p>
      </li>
    </ol>
  </div>
</div>
