<div (window:resize)="onResize($event)" id="theme-config" class="{{ menuType }} {{ headerType }} {{ sidebarType }} {{ themeType}}">
  <app-title></app-title>
  <section id="wrapper" class="login-register">
    <div class="login-box">
      <div class="white-box">
        <form class="form-horizontal form-material" id="loginform">
          <h3 class="box-title m-b-20">Recover Password</h3>
          <div class="form-group ">
            <div class="col-xs-12">
              <input class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <input class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
