.required:after { content:"*"; color: red}
textarea {
  resize: none;
  width: 100%;
}
input:focus ,textarea:focus{
  background-color: #e2ffeb;
}
th{
  background-color: #0067b1;
  text-align: center;
  font-size: 13px;
  color: white;
}
td{
  text-align: center;
  font-size: 13px;
}

caption{
  caption-side: top;
  background-color: #0067b1;
  text-align: center;
  font-size: 13px;
  color: white;
  font-weight: bold;
}

label{
  font-weight: bold;
}
span.disabled:hover {
  cursor: not-allowed;
}
