<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">Search Here</h3>
      <form class="form-group" role="search">
        <div class="input-group">
          <input id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Angular Js"> <span class="input-group-btn"><button type="button" class="btn waves-effect waves-light btn-info btn-sm"><i class="fa fa-search"></i> SEARCH</button></span></div>
      </form>
      <h2 class="m-t-40">Search Result For "Angular Js"</h2>
      <small>About 14,700 result ( 0.10 seconds)</small>
      <hr>
      <ul class="search-listing">
        <li>
          <h3><a href="javascript:">AngularJs</a></h3> <a href="javascript:" class="search-links">http://www.google.com/angularjs</a>
          <p>Lorem Ipsum viveremus probamus opus apeirian haec perveniri, memoriter.Praebeat pecunias viveremus probamus opus apeirian haec perveniri, memoriter.</p>
        </li>
        <li>
          <h3><a href="javascript:">AngularJS — Superheroic javascript MVW Framework</a></h3> <a href="javascript:" class="search-links">http://www.google.com/angularjs</a>
          <p>Lorem Ipsum viveremus probamus opus apeirian haec perveniri, memoriter.Praebeat pecunias viveremus probamus opus apeirian haec perveniri, memoriter.</p>
        </li>
        <li>
          <h3><a href="javascript:">AngularJS Tutorial - W3Schools</a></h3> <a href="javascript:" class="search-links">http://www.google.com/angularjs</a>
          <p>Lorem Ipsum viveremus probamus opus apeirian haec perveniri, memoriter.Praebeat pecunias viveremus probamus opus apeirian haec perveniri, memoriter.</p>
        </li>
        <li>
          <h3><a href="javascript:">Introduction to AngularJS - W3Schools</a></h3> <a href="javascript:" class="search-links">http://www.google.com/angularjs</a>
          <p>Lorem Ipsum viveremus probamus opus apeirian haec perveniri, memoriter.Praebeat pecunias viveremus probamus opus apeirian haec perveniri, memoriter.</p>
        </li>
        <li>
          <h3><a href="javascript:">AngularJS Tutorial</a></h3> <a href="javascript:" class="search-links">http://www.google.com/angularjs</a>
          <p>Lorem Ipsum viveremus probamus opus apeirian haec perveniri, memoriter.Praebeat pecunias viveremus probamus opus apeirian haec perveniri, memoriter.</p>
        </li>
        <li>
          <h3><a href="javascript:">Angular 2: One framework.</a></h3> <a href="javascript:" class="search-links">http://www.google.com/angularjs</a>
          <p>Lorem Ipsum viveremus probamus opus apeirian haec perveniri, memoriter.Praebeat pecunias viveremus probamus opus apeirian haec perveniri, memoriter.</p>
        </li>
      </ul>
      <ngb-pagination [collectionSize]="120" [(page)]="pageAdvance" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
    </div>
  </div>
</div>
