<!-- row -->
<div class="row">
  <!-- Left sidebar -->
  <div class="col-md-12">
    <div class="white-box">
      <div class="row">
        <div class="col-lg-2 col-md-3  col-sm-4 col-xs-12 inbox-panel">
          <div> <a href="javascript:" class="btn btn-custom btn-block waves-effect waves-light">Compose</a>
            <div class="list-group mail-list m-t-20"> <a [routerLink]="['/inbox/mail-box/']" class="list-group-item active">Inbox <span class="label label-rouded label-success pull-right">5</span></a> <a href="javascript:" class="list-group-item ">Starred</a> <a href="javascript:" class="list-group-item">Draft <span class="label label-rouded label-warning pull-right">15</span></a> <a href="javascript:" class="list-group-item">Sent Mail</a> <a href="javascript:" class="list-group-item">Trash <span class="label label-rouded label-danger pull-right">55</span></a> </div>
            <h3 class="panel-title m-t-40 m-b-0">Labels</h3>
            <hr class="m-t-5">
            <div class="list-group b-0 mail-list"> <a href="javascript:" class="list-group-item"><span class="fa fa-circle text-info m-r-10"></span>Work</a> <a href="javascript:" class="list-group-item"><span class="fa fa-circle text-warning m-r-10"></span>Family</a> <a href="javascript:" class="list-group-item"><span class="fa fa-circle text-purple m-r-10"></span>Private</a> <a href="javascript:" class="list-group-item"><span class="fa fa-circle text-danger m-r-10"></span>Friends</a> <a href="javascript:" class="list-group-item"><span class="fa fa-circle text-success m-r-10"></span>Corporate</a> </div>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 mail_listing">
          <h3 class="box-title">Compose New Message</h3>
          <div class="form-group">
            <input class="form-control" placeholder="To:"> </div>
          <div class="form-group">
            <input class="form-control" placeholder="Subject:"> </div>
          <div class="form-group">
            <quill-editor
              [(ngModel)]="editorContent"
              [options]="editorConfig"
              (blur)="onEditorBlured($event)"
              (focus)="onEditorFocused($event)"
              (ready)="onEditorCreated($event)"
              (change)="onContentChanged($event)">
            </quill-editor>
          </div>
          <h4><i class="ti-link"></i> Attachment</h4>
          <form class="dropzone">
            <div class="fallback">
              <input name="file" type="file" multiple /> </div>
          </form>
          <hr>
          <button class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send</button>
          <button class="btn btn-default"><i class="fa fa-times"></i> Discard</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
