<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps default</h3>
      <div class="row default-steps">
        <div class="col-md-4 column-step">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step active">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps thin</h3>
      <div class="row thin-steps">
        <div class="col-md-4 column-step">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step active">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps with no background</h3>
      <div class="row steps-no-bg">
        <div class="col-md-4 column-step">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step active">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps thin with no background</h3>
      <div class="row thin-steps-no-bg">
        <div class="col-md-4 column-step active">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps with number background</h3>
      <div class="row numbered-bg">
        <div class="col-md-4 column-step">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step active">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps thin with number background</h3>
      <div class="row thin-steps-numbered-bg">
        <div class="col-md-4 column-step active">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps with line (3 steps)</h3>
      <div class="row line-steps">
        <div class="col-md-4 column-step start">
          <div class="step-number">1</div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step active">
          <div class="step-number">2</div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step finish">
          <div class="step-number">3</div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps with line (4 steps)</h3>
      <div class="row line-steps">
        <div class="col-md-3 column-step start">
          <div class="step-number">1</div>
          <div class="step-title">Manufacturing</div>
          <div class="step-info">Making of the product</div>
        </div>
        <div class="col-md-3 column-step active">
          <div class="step-number">2</div>
          <div class="step-title">Testing</div>
          <div class="step-info">Testing of the product</div>
        </div>
        <div class="col-md-3 column-step upcoming">
          <div class="step-number">3</div>
          <div class="step-title">Launching</div>
          <div class="step-info">Launching of the product</div>
        </div>
        <div class="col-md-3 column-step finish">
          <div class="step-number">4</div>
          <div class="step-title">Marketing</div>
          <div class="step-info">Marketing of the product</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .row -->
<div class="row">
  <div class="col-md-12">
    <div class="white-box">
      <h3 class="box-title">steps with line (Using Icons)</h3>
      <div class="row line-steps">
        <div class="col-md-4 column-step start">
          <div class="step-number"><i class="fa fa-money"></i></div>
          <div class="step-title">BUY</div>
          <div class="step-info">Buying the item</div>
        </div>
        <div class="col-md-4 column-step active">
          <div class="step-number"><i class="fa fa-cc-mastercard"></i></div>
          <div class="step-title">PAY</div>
          <div class="step-info">Payment of the item</div>
        </div>
        <div class="col-md-4 column-step finish">
          <div class="step-number"><i class="fa fa-shopping-cart"></i></div>
          <div class="step-title">GET DELIVERY</div>
          <div class="step-info">Receiving the item</div>
        </div>
      </div>
    </div>
  </div>
</div>
