ng-select > div.below {
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  width: 100%;
  background-color: #fff;
  border: 1px solid #e5ebec;
  border-radius: 0;
  box-shadow: none;
  color: #565656;
  height: 38px;
  max-width: 100%;
  padding: 3px 4px;
  transition: all 300ms linear 0s;
}

ng-select > div > div.multiple > div.option span.deselect-option {
  font-size: 10px !important;
  font-weight: 900;
  margin-right: 3px;
}

ng-select > div > div.multiple > div.option {
  background-color: #f5f5f5 !important;
  border: 1px solid #f5f5f5 !important;
  border-radius: 3px !important;
  color: #555 !important;
  font-size: 12px !important;
  font-family: 'Open Sans',sans-serif;
}

ng-select > div > div.single > div.clear:hover, ng-select > div > div.single > div.toggle:hover {
  background-color: #fff !important;
}

ng-select > div > div.single > div.toggle {
  font-size: 10px !important;
}
