<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">World Map</h3>
      <div id="vmap" style="width: 100%; height: 700px;"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="white-box">
      <h3 class="box-title">Asia</h3>
      <div id="asia_vmap" style="width: 100%; height: 450px;"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="white-box">
      <h3 class="box-title">USA</h3>
      <div id="usa_vmap" style="width: 100%; height: 450px;"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="white-box">
      <h3 class="box-title">Germany</h3>
      <div id="germany_vmap" style="width: 100%; height: 450px;"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="white-box">
      <h3 class="box-title">Canada</h3>
      <div id="canada_vmap" style="width: 100%; height: 450px;"></div>
    </div>
  </div>
</div>
